## Problem Statement & Data Description

#### Problem Statement : To Predict whether a mammogram mass is benign or malignant

#### Data description :

Doctor's assessment: 1 to 5 (ordinal) [This is subjective]

Age: patient's age in years (integer)

Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)

Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)

Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)

Androgen History - Binary 

Previous Visit - Binary

Blood Group - A, B, AB

Severity - Binary


Severity: benign=0 or malignant=1 (binominal)

# New Section

In [0]:
# 1) Converted dummies
# 2) Outliers treatment - 
# 3) Missing value treatment - 
# 4) Different data types
# 5) Train & Test Split
# 6) Feature Engineerring 
#    a) Feature scaling
#    b) Feature selection
# 7) Model Building
#     - SVM 
#     - Trees with ensmb
#     - KNN
#     - NB 
#     - Logistic
#     - ANN -   
# 8) Model Validation - K fold (Accuraries [ 93% ] --- k = 10 folds)
# 9) Model Selection - High Bias & Hi Varience | Low Bias and low variance  | Low Boas and High variance | High Variencce and low varience
# 10) Deployment - Flask ----> Heroku

# SMOTE --- balance data

In [0]:
# Import requiered libraries 
import pandas as pd
import numpy as np

In [0]:
ls

mammographic_masses.csv  sample_data/

In [0]:
# Import dataset
df = pd.read_csv('mammographic_masses.csv')
df.head()

   BI-RADS   age  shape  ...  prev_visit  blood_group  severity
0      5.0  67.0    3.0  ...           1            B         1
1      4.0  43.0    1.0  ...           0            A         1
2      5.0  58.0    4.0  ...           0            B         1
3      4.0  28.0    1.0  ...           0            O         0
4      5.0  74.0    1.0  ...           0            A         1

[5 rows x 9 columns]

## Converting dummies

In [0]:
df = pd.get_dummies(df)
df.head()

   BI-RADS   age  shape  ...  blood_group_AB  blood_group_B  blood_group_O
0      5.0  67.0    3.0  ...               0              1              0
1      4.0  43.0    1.0  ...               0              0              0
2      5.0  58.0    4.0  ...               0              1              0
3      4.0  28.0    1.0  ...               0              0              1
4      5.0  74.0    1.0  ...               0              0              0

[5 rows x 12 columns]

## Checking for outliers

In [0]:
# Dealing with outliers

In [0]:

# Any one of the following strategy 
#1. mean strategy
#2. most_frequent startegy
#3. median strategy <-- prefered

## Different types of data

## Train Test Split

## Feature scaling

## Model Building & Evaluation